*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
   background-color: rgb(71, 114, 255);
   width: 100%;
   height: 120px;
}

.navcontainer{
   background-color: rgb(0, 10, 41);
   width: 100%;
   height: 120px;
}

.logo img{
   height: 100%;
}

.navbar{
   background-color: rgb(0, 50, 126);
   display: flex;
   height: 120px;
   justify-content: space-between;
   align-items: center;
}

.logo{
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
   margin: 20px;
}

.navlinks li {
   list-style-type: none;
}

.navbar li a{
   text-decoration: none;
   color: #ffffff;
   padding: 7px 10px;
   margin-right: 20px;
   border-radius: 6px;
   font-family: sans-serif;
}

.navlinks{
   width: 50%s;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.navlinks li a:hover{
   background-color: rgba(0, 119, 255, 0.171);
   transition: .3s;
}